@switch (departuresDatesResourse().status) {
  @case (ResourseStatus.Success) {
    <h6 class="heading">Выезд из Германии</h6>

    <ul class="dates-list">
      @for (visibleDate of departuresDatesResourse().data; track $index) {
        @let isPastDate = visibleDate.diffWithNow < 0;
        <li class="dates-list__item" [class.past-date]="isPastDate">
          {{ visibleDate.date }}

          @if (visibleDate.diffWithNow > 0) {
            @let futureDays = visibleDate.diffWithNow;

            (через {{ futureDays }} {{ buildLabelForDayNumber(futureDays) }})
          } @else if (visibleDate.diffWithNow === 0) {
            (сегодня)
          } @else {
            @let pastDays = visibleDate.diffWithNow * -1;

            ({{ pastDays }} {{ buildLabelForDayNumber(pastDays) }} назад)
          }
        </li>
      }
    </ul>

  }
  @case (ResourseStatus.Error) {
    <h6 class="heading error-text">Произошла ошибка:</h6>
    <p class="error-text">{{ departuresDatesResourse().error }}</p>
  }
  @default {
    <div class="loader"></div>
  }
}
